
<div class="pagination">
    <nav>
        <span class="step-links">
            {% if page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
    {#            <a href="?page={{ page.previous_page_number }}">Previous</a>#}
            {% endif %}

            <li class="page-item">
                Page {{ page.number }} of {{ page.paginator.num_pages }}.
            </li>

            {% if page.has_next %}
    {#            <a href="?page={{ page.next_page_number }}">Next</a>#}
                 <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            {% endif %}
        </span>

    </nav>
</div>